.unit {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -30px;
}

.unit a {
  text-decoration: none;
  color: rgb(73, 73, 73);
  font-weight: 200;
}

.WeatherTemp {
  margin: 0;
}

.Weather .temperature {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(33, 33, 33);
  font-weight: 600;
  margin-left: 10px;
  font-size: 70px;
  line-height: 1;
}
