.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WeatherInfo {
  margin-bottom: 10px;
}

.info-right {
  text-align: end;
}

.Weather h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  line-height: 48px;
  color: #7f3cd6;
}

.Weather .info-left {
  margin: 0;
  padding: 0;
}

.info-right li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather .info-left li {
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.other-info {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(39, 33, 66, 0.4);
  /* display: flex;
  gap: 20px; */
  list-style: none;
  text-align: start;
  margin-left: 8px;
  padding: 0;
  font-size: 14px;
}
.AnimateIcon {
  width: 100%;
  max-width: 50px;
}

.Weather li strong {
  color: #f65282;
  font-weight: normal;
}

.Weather canvas {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .weather-info {
    flex-direction: row; /* Switch to row layout on larger screens */
    justify-content: space-between;
  }

  .Weather h1 {
    .Weather h1 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  .AnimateIcon {
    max-width: 36px; /* Adjust for larger screens */
  }
}

@media (max-width: 600px) {
  .Weather h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
