* {
  margin: 0 auto;
  padding: 0;
}
.Weather {
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  border: none;
  max-width: 70%;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 30px 50px #41326414;
  border-radius: 16px;
  padding: 40px;
  color: rgb(135, 135, 135);
}

.Weather .logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.Weather form {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer a {
  color: #885df1;
}
