* {
  background: white;
}
.WeatherForecast {
  text-align: center;
  padding: 10px;
}

.WeatherForecast-day {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(48, 47, 47);
}

.WeatherForecast-temp {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  color: #7f3cd6;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
}

.AnimateIcon {
  width: 36px;
}
